
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bus-icon,
.person-icon,
.package-icon,
.car-icon {
  color: #7e6326; 
  font-size: 32px; 
  margin: 5px; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lora', serif;
}

header {
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10; 
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    transition: background-color 0.3 ease, color 0.3 ease
    
}

.navbar h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    margin-left: 200px;
    transition: color 0.3s ease;
    
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    
    color: rgb(255, 255, 255);
    font-family: 'Poppins', Helventica;
    font-size: 12px;
    padding: 10px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: color 0.4s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 450;
    transition: color 0.3s ease;
}

.navbar.scrolled ul li a:hover,
.navbar ul li a:hover {
    color: #f5af00; 
    background-color: transparent; 
}

.navbar.scrolled {
    background-color: white;
    box-shadow: 0 1px 1px rgba(157, 157, 157, 0.462);
}

.navbar.scrolled h1,
.navbar.scrolled ul li a {
    color: rgb(67, 67, 67);  
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/test.JPG');
    background-size: cover;
    background-position: center;
  
 
}

.hero-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.hero h2 {
    font-size: 45px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Poppins';
}

.hero h3 {
    font-size: 24px; 
    font-weight: normal;
    color: #999999;
    font-family: 'Poppins';
}

.hero-button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: #7E6326; 
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3 ease;
    font-family: 'Poppins';
    letter-spacing: 0.3px;
}

.hero-button:hover {
    background-color: rgb(30, 30, 30);
}
.services {
    width: 100%;
    height: 80vh;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.services h2 {
    font-size: 34px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;

    font-family: 'Poppins';
}

.section-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 20px;
    font-family: 'Poppins';
    width: 35%;
    margin: 0 auto;
    text-align: center;
    line-height:1.6;
}

.service-box h3 {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
    font-family: 'Poppins';
    line-height: 1.6;
}



.service-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.service-box {
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background: transparent;
    
}


.service-box p {
    font-size: 14px;
    color: #999999;
    line-height: 1.6; 
}






.reviews {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 120px 120px;
}

.reviews h2 {
  font-size: 32px;
  font-family: 'Poppins';
  color: #000000;
  margin-bottom: 40px;
}

.reviews-subtitle {
  font-size: 16px;
  font-family: 'Poppins';
  color: #727272;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.review-box {
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.review-text {
  font-size: 15px;
  font-family: 'Lora', serif;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.5;
}

.review-author {
  font-size: 14px;
  font-weight: 600;
  color: #7e6326;
  font-family: 'Poppins';
}


.review-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.review-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}






.pricing {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #d1d1d1;
}


.quote {
  width: 100%;
  padding: 60px ; 
  text-align: center;
  background-color: #7E6326;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote h2 {
  color: white;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.quote-button {
  padding: 15px 40px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  transition: background 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
  border: 1px solid white;
}

.quote-button:hover {
  background-color: white;
  color: #7E6326;
}



.skills {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #ffffff;
}

.routes {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #d1d1d1;
}